// Mixins Here

.tablet(){
    max-width:600px;
    width:100%;
}

.rounded(){
    border-radius:5px;
}


// parametric mixin

.button(@justify,@align){
    text-align: center;
    border-radius:10px;
    width:150px;
    height:35px;
    justify-content: center;
    align-items: center;
    
}
