// Navigation code here

.nav{
    width:100%;
    height:150px;
    background-color:@nav-bg;
    color:@nav-font;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;

    h1{
        font-size:5rem;
        padding-bottom:20px;
    }
    nav{
       
    }
    a{
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 25px;
        color: @nav-font;
        text-decoration:none;
    }
}